<meta name="keywords" content="{{{keywords}}}" />
<meta name="description" content="{{{description}}}" />
<meta name="author" content="{{{author}}}" />
<meta name="pagetype" content="{{{pagetype}}}" />
<meta name="theme-color" content="#111111" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta property="og:title" content="{{{title}}} | {{{siteName}}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{{url}}}" />
<link rel="canonical" href="{{{url}}}" />
<meta property="og:image" value="https://psgamespider.ravelloh.top/assets/images/screenshot-pc.png" />
<meta property="og:image:alt" value="PSGameSpider's Screenshot" />
<meta property="og:image:width" value="2560" />
<meta property="og:image:height" value="1600" />
<meta name="twitter:card" value="summary_large_image" />
<meta name="twitter:site" value="@ravellohh" />
<meta name="twitter:image" value="https://psgamespider.ravelloh.top/assets/images/screenshot-pc.png" />
<meta name="twitter:image:alt" value="PSGameSpider's Screenshot" />
<meta name="format-detection" content="address=no,telephone=no" />
<meta name="COPYRIGHT" content="@RavelloH" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="mobile-web-app-capable" content="yes" />