<header>
    <div id="logo" class="loading" style="--i: 1">
        <!-- logo start -->
        <a href="#userbar">
            <img id="avatar" class="no-zoom" src="{{{remotePath}}}/assets/images/avatar.jpg" alt="avatar">
            <img id="avatarname" class="no-zoom"src="{{{remotePath}}}/assets/images/RavelloH.svg" alt="RavelloH's Blog">
        </a>
        <!-- logo end -->
    </div>
    <div id="header-side">
        <div id="navs">
            <!-- nav start -->
            <nav>
                {{nav.html}}
            </nav>
            <!-- nav end -->
        </div>
        <div id="toggle" class="loading" style="--i: 0"></div>
    </div>
</header>