<!-- JavaScript -->
<script defer type="text/javascript" src="{{{remotePath}}}/assets/js/i18n.js" onload="loadComplete('i18n.js')"></script>
<script defer type="text/javascript" src="{{{remotePath}}}/assets/js/moudle.js" onload="loadComplete('moudle.js')"></script>
<script defer type="text/javascript" src="{{{remotePath}}}/assets/js/script.js" onload="loadComplete('script.js')"></script>
<script defer type="text/javascript" src="{{{remotePath}}}/assets/js/display.js" onload="loadComplete('display.js')"></script>
<script defer type="text/javascript" src="{{{remotePath}}}/assets/js/pjax.js" onload="loadComplete('pjax.js')"></script>
{{{analyticScript}}}
<div id="page-js">
    {{{pageJs}}}
</div>