name: update
on:
  schedule:
    - cron: '30 */8 * * *' #每日更新
  watch:
    types: [started]
  workflow_dispatch:
  
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest #运行环境
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: 'Git set'
        run: |
             git init
             git pull
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
           python-version: 3.7 #v3
      - name: 'Install requirements'
        run: |
             pip install wget
             pip install bs4
             pip install urllib3 #安装依赖
             pip install lxml
             pip install Image
      - name: 'Working'
        run: 
          python update.py #运行主程序
      - name: 'Page'
        run: 
          python webpage.py #运行主程序
      - name: 'EnglishWorking'
        run: 
          python en-update.py #运行主程序
      - name: 'EnPage'
        run: 
          python en-webpage.py #运行主程序
      - name: 'Thumbs'
        run: 
          python thumbs.py #运行主程序
      - name: 'Thumbs-en'
        run: 
          python en-thumbs.py #运行主程序
      - name: TOC
        uses: technote-space/toc-generator@v4
      - name: Record time  
        run: echo `date` > date.log

      - name: Commit files
        run: |
          git diff
          git config --local user.email "dr_hamilton@foxmail.com"
          git config --local user.name "Ravello-H"
          git add -A
          git commit -m "`date '+%Y-%m-%d %H:%M:%S'`" || exit #动态提交信息
          git status
          git push -f
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  sync:
    needs: build
    runs-on: ubuntu-latest
    continue-on-error: True
    steps:
      - uses: wearerequired/git-mirror-action@master
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
        with:
          source-repo: "git@github.com:RavelloH/PSGameSpider.git"
          destination-repo: "git@gitee.com:ravelloh/PSGameSpider.git"
  reload-pages:
    needs: sync
    runs-on: ubuntu-latest
    continue-on-error: True
    steps:
      - name: reload
        uses: mizuka-wu/gitee-pages-action@v1.0.0
        with:
          repository: RavelloH/PSGameSpider
          cookie: ${{ secrets.GITEE_COOKIE }}
          branch: main
          https: true
